body {
margin: 0;}

header {
background-color: #405237;
font-family: 'Jost', sans-serif;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

header h1{
color: #181e15;
font-size: 75px;
}

h2{
padding-top: 15px;
padding-bottom: 15px;
color: #181e15;
font-size: 50px;
}

ol{
font-size: 30px;
color: #E4f7b9;
}

.list1 {
list-style-position: inside;
}


ul{
font-size: 30px;
color: #E4f7b9;
}

.list2 {
list-style-position: inside;
}

p {
font-size: 35px;
color: #d5ff80;
}

img {
border-radius: 50%;
border: 20px solid #181e15;
}

div {
background-color: #405237;
padding-top: 10px;
padding-bottom: 5px;
height: 100%;
width: 100%;
}

footer {
background-color: #405237;
height: 50px;
font-size: 30px;
text-align: center;
}

a:link {
color: #F6FF00;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #FFDB00;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: orange;
background-color: transparent;
text-decoration: none;
}

a:active {
color: green;
background-color: transparent;
text-decoration: none;
}