body {
margin: 0;}

header {
background-color: #405237;
font-family: 'Jost', sans-serif;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

header h1{
color: #f5ffd4;
font-size: 75px;
}

h2{
color: #f5ffeb;
font-size: 50px;
}

ol{
font-size: 30px;
color: yellow;
}

.list1 {
list-style-position: inside;
}


ul{
font-size: 30px;
color: yellow;
}

.list2 {
list-style-position: inside;
}

p {
font-size: 35px;
color: white;
}

img {
border-radius: 50%;
border: 15px solid yellow;
}

footer {
background-color: #405237;
height: 50px;
font-size: 30px;
text-align: center;
}