body {
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 75%;
    font-size: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #540032;
}

.title {
    background-image:url(https://i.pinimg.com/originals/a5/bf/aa/a5bfaa8cad071d8c8b37b35d5d49a9c1.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}