body {
  background-color: #d9b38c;
  font-family: Arial, helvetica, sans-serif;
}

/* COMPANY NAME */

h1 {
  background-color: #3bb9ff;
  border: 4px solid #1589ff;
  border-radius: 4px;
  padding: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  background-color: white;
  padding: 10px 5px;
}

/* COMPANY SLOGAN */

#slogan {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

img {
  margin: 20px 0 20px 0
}

td {
  padding-left: 30px;
}

th {
  text-align: left;
}

.title {
  border-radius: 5px 5px 0 0;
  font-weight: 300;
}

#ingredients {
  background-color: #f9f9f9;
  border-radius: 5px;
}

#instructions {
  background-color: #ff8a80;
  border-radius: 5px;
}

#nutrition {
  background-color: #f9f9f9;
  border-radius: 5px;
}

#win {
  background-color: orange;
  border-radius: 5px;
}

/* FOOTER DETAILS */

footer {
  background-color: lightgrey;
}