body {
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Tektur', cursive;
    font-display: optional;
}
h1 {
    font-size: 50px;
}

#background {
    object-fit: cover;
    width: 2560px;
    height: 100px;
}