.button {
    background-color: #8C6D09;
    color: white;
    padding: 16px 32px;
    display:inline-block;
    margin:4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;	
}
     
.button1{
   background-color:#8C6D09;
    color:#FFF;    	
}

#paragraph
{
display:none;
}