body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,
    rgb(61, 27, 209) 0%,
    rgb(130, 90, 252) 50%,
    rgb(84, 181, 201) 100%
    );
    color: rgb(36, 142, 241);
    letter-spacing: 2px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    background-color:rgb(36, 142, 241);
    margin-bottom: 20px;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 0;
}

li {
    list-style: none;
    border: 10px solid rgb(36, 142, 241);
    border-radius: 50px;
    border-style: groove;
    cursor: grabbing;
}

#game-box {
    text-align: center;
    margin-top: 250px;
}

.shake {
    animation: shake 0.1s;
}

.pop {
    animation: pop 0.5s;
}

@keyframes shake {
    0% { 
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}