<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: blue;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>no</h1>
<p>no. yea.</p>

</body>
</html>





<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>

<h1>fortnite</h1>
<p>fork and knife.</p>

</body>
</html>





<!DOCTYPE html>
<html>
<body>

<h1 style="color:red;text-align:center;">yes</h1>
<p style="color:yellow;">sir.</p>

</body>
</html><!DOCTYPE html>
<html>
<body>

<h1 style="color:orange;text-align:center;">head thikssad sad</h1>
<p style="color:red;">heisenberg.</p>

</body>
</html>



en ymmärrä ohjetta lainkaan parista sanasta täällä kotona äijä